MYSQL_ROOT_PASSWORD=change-me-root
DB_NAME=personal_site
DB_USER=app
DB_PASSWORD=change-me-app
DB_PORT=3307
DB_HOST=127.0.0.1
JWT_SECRET=34f3ca5f6ab10c7e23db356095d2f95db882c03f42c45304ffed8983805cd39b
JWT_TTL=24h
ALLOW_REGISTER=true